:root {
    --bg: #0d0c22;
    --bgSoft: #2d2b42;
    --text: white;
    --textSoft: #e5e5e5;
    --btn: #3673fd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: wheat;
    color: var(--text);
}

a {
    text-decoration: none;
    color: inherit;
}

.container-navbar {
    background-color: blue;
    padding-left: 50px;
    padding-right: 50px;
}

.container-content {
    width: 100vw;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-footer {
    background-color: blue;
    padding-left: 50px;
    padding-right: 50px;
}

.container {
    width: 1024px;
    margin: auto;
    background-color: var(--bg);
}

/* Breakpoints */

/* Media queries for different screen sizes */
@media (max-width: 768px) {

    /* Styles for screens with a maximum width of 768px */
    .container {
        width: 475px;
        ;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    /* Styles for screens with a minimum width of 768px and a maximum width of 1024px */
    .container {
        width: 768px;
    }
}

@media (min-width: 1024px) {

    /* Styles for screens with a minimum width of 1024px */
    .container {
        width: 1024px;
    }
}