.container {
    display: flex;
    gap: 50px;
}

.title {
    font-size: 50px;
}

.desc {
    font-size: 20px;
}

.buttons {
    display: flex;
    gap: 20px;
}

.button {
    /* font-size: 1.2rem; */
    padding: 10px;
    min-width: 120px;
    cursor: pointer;
    border: non;
    border-radius: 10px;
}

.button:first-child {
    background-color: var(--btn);
    color: var(--text);
    font-weight: bold;
}

.textContainer{
    flex: 1 1 0;
    width: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.imgContainer{
    flex: 1 1 0;
    width: 0;
    position: relative;
}

.brands {
    position: relative;
    width: 500px;
    height: 50px;
    filter: grayscale(1)
}